pandas
numpy
matplotlib
seaborn
plotly
streamlit
requests
geopandas

blinker
protobuf
typing_extensions
cachetools
python-dateutil
pytz
six
narwhals
click
tornado
toml
urllib3
idna
certifi
packaging
pyarrow
altair
jsonschema
jsonschema_specifications
attrs
referencing
rpds-py
jinja2
markupsafe
joblib
scikit-learn
xgboost
# shap
notebook
ipykernel
pillow
pyparsing
cycler
kiwisolver
scipy
watchdog
threadpoolctl==3.6.0
requests
tensorflow
keras
sentence-transformers
optree